* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: #0c192c;
}

.container {
  position: absolute;
  top: 38%;
  left: 20%;
  height: 600px;
  width: 600px;
}
.container .face {
  position: relative;
  top: 5%;
  left: 30%;
  width: 250px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid black;
  background: skyblue;
  box-shadow: 0 0 10px black inset;
  z-index: 100;
}
.container .face .face-circle {
  position: relative;
  top: 13%;
  left: 5%;
  height: 190px;
  width: 220px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
}
.container .face .left-eye {
  position: absolute;
  top: 10%;
  left: 33%;
  height: 50px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border: 1px solid;
  overflow: hidden;
}
.container .face .left-eye .ball {
  position: relative;
  top: 40%;
  left: 60%;
  height: 15px;
  width: 10px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.container .face .right-eye {
  position: absolute;
  top: 10%;
  left: 50%;
  height: 50px;
  width: 40px;
  background: white;
  border-radius: 50%;
  border: 1px solid;
  overflow: hidden;
}
.container .face .right-eye .ball {
  position: relative;
  top: 40%;
  left: 15%;
  height: 15px;
  width: 10px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.container .nose {
  position: absolute;
  top: 28%;
  left: 44%;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background: rgb(169, 4, 4);
}
.container .nose::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 10%;
  height: 15px;
  width: 15px;
  filter: blur(6px);
  border-radius: 50%;
  background: white;
}
.container .nose-line {
  position: absolute;
  top: 42%;
  left: 50%;
  height: 35px;
  width: 1px;
  background: black;
  border: 2px;
}
.container .mustached .line1::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 30%;
  height: 60px;
  width: 1.5px;
  transform: rotate(105deg);
  background: black;
  border-radius: 20px;
}
.container .mustached .line2::before {
  content: "";
  position: absolute;
  top: 33%;
  left: 30%;
  height: 60px;
  width: 1.5px;
  transform: rotate(90deg);
  background: black;
  border-radius: 20px;
}
.container .mustached .line3::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 30%;
  height: 60px;
  width: 1.5px;
  transform: rotate(70deg);
  background: black;
  border-radius: 20px;
}
.container .mustached .line1::after {
  content: " ";
  position: absolute;
  top: 25%;
  left: 70%;
  height: 60px;
  width: 1.5px;
  transform: rotate(70deg);
  background: black;
  border-radius: 20px;
}
.container .mustached .line2::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 70%;
  height: 60px;
  width: 1.5px;
  transform: rotate(90deg);
  background: black;
  border-radius: 20px;
}
.container .mustached .line3::after {
  content: " ";
  position: absolute;
  top: 42%;
  left: 70%;
  height: 60px;
  width: 1.5px;
  transform: rotate(105deg);
  background: black;
  border-radius: 20px;
}
.container .mouth {
  position: absolute;
  top: 58%;
  left: 25%;
  height: 70px;
  width: 130px;
  border-radius: 42% 21% 49% 53%/11% 10% 92% 89%;
  background: rgb(81, 2, 2);
  overflow: hidden;
}
.container .mouth .toungh {
  position: relative;
  top: 55%;
  left: 28%;
  height: 60px;
  width: 60px;
  background: rgb(95, 3, 3);
  transform: rotate(45deg);
}
.container .mouth .toungh::before {
  content: " ";
  position: absolute;
  height: 60px;
  width: 60px;
  background: #d21111;
  border-radius: 50%;
  right: 50%;
}
.container .mouth .toungh::after {
  content: " ";
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #d21111;
  top: -50%;
}
.container .neck-band {
  position: absolute;
  top: 38%;
  left: 37%;
  height: 20px;
  width: 170px;
  border-radius: 20px;
  box-shadow: 0 0 10px black inset;
  background: red;
  z-index: 100;
}
.container .neck-less {
  position: absolute;
  left: 40%;
  height: 45px;
  width: 40px;
  border-radius: 50%;
  background: rgb(182, 191, 22);
  z-index: 200;
}
.container .body {
  position: relative;
  top: 2%;
  left: 34%;
  height: 180px;
  width: 200px;
  border: 1px solid black;
  box-shadow: 0 0 10px black inset;
  border-radius: 50px 50px 10px 10px;
  background: skyblue;
}
.container .body .stomach {
  position: relative;
  top: -10px;
  left: 15%;
  border-radius: 42% 49% 66% 67%/73% 52% 100% 74%;
  height: 160px;
  width: 150px;
  background: white;
}
.container .body .stomach .pocket {
  position: relative;
  top: 50%;
  left: 20%;
  height: 50px;
  width: 100px;
  border: 2px solid black;
  border-radius: 72% 49% 55% 67%/16% 17% 100% 100%;
}
.container .body span {
  position: absolute;
  top: 89%;
  left: 45%;
  height: 20px;
  width: 19px;
  box-shadow: -5px -5px 10px black;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 87% 52% 0% 40%/100% 100% 0% 0%;
  background: #0c192c;
}
.container .left-hand {
  position: absolute;
  top: 45%;
  left: 23%;
  height: 50px;
  width: 120px;
  border-radius: 50px;
  box-shadow: 0 0 10px black inset;
  transform: rotate(140deg);
  background: skyblue;
}
.container .left-hand .left-palm {
  position: relative;
  top: -10%;
  left: 76%;
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px black inset;
}
.container .right-hand {
  position: absolute;
  top: 38%;
  left: 61%;
  height: 50px;
  width: 120px;
  border-radius: 50px;
  box-shadow: 0 0 10px black inset;
  transform: rotate(150deg);
  background: skyblue;
}
.container .right-hand .right-palm {
  position: relative;
  top: -10%;
  left: 0%;
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px black inset;
}
.container .left-leg {
  position: absolute;
  left: 31.5%;
  top: 65%;
  height: 63px;
  width: 109px;
  background: white;
  border-radius: 100% 76% 74% 90%/99% 100% 73% 78%;
  box-shadow: 0 0 3px black inset;
  border: 2px solid black;
}
.container .right-leg {
  position: absolute;
  left: 51.5%;
  top: 65%;
  height: 63px;
  width: 109px;
  background: white;
  border-radius: 100% 76% 74% 90%/99% 100% 73% 78%;
  box-shadow: 0 0 3px black inset;
  border: 2px solid black;
  transform: rotatey(180deg);
}/*# sourceMappingURL=style.css.map */